body { background: #4317e5; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 29px; display: flex; }
.block-validator-0 { color: #1c7bfb; font-size: 19px; margin-bottom: 5px; }
.block-cart-1 { color: #87eae; font-size: 15px; margin-bottom: 5px; }
.block-filter-2 { color: #a5e50d; font-size: 17px; margin-bottom: 5px; }
.block-metrics-3 { color: #7bdd6a; font-size: 19px; margin-bottom: 5px; }
.block-email-4 { color: #f62976; font-size: 21px; margin-bottom: 5px; }
.block-session-5 { color: #1de837; font-size: 20px; margin-bottom: 5px; }